@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500;600;700&family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap");

body {
  height: 2000px;
}
/* Navbar */
nav {
  font-family: "poppins";
  font-weight: 500;
  font-size: 14px;
}

.navbar {
  background-color: #feb800 !important;
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav-link {
  color: #ffffff !important;
  margin-right: 30px;
}

.btn-left {
  background-color: #feb800 !important;
  color: #ffffff !important;
  border: none !important;
  border-radius: 40px !important;
  padding-right: 20px !important;
  padding-left: 20px !important;
  font-family: "poppins";
  font-weight: 500;
  font-size: 14px;
}

.btn-right {
  background-color: #ffffff !important;
  color: #feb800 !important;
  border: none !important;
  border-radius: 40px !important;
  padding-right: 20px !important;
  padding-left: 20px !important;
  font-family: "poppins";
  font-weight: 500;
  font-size: 14px;
}

.btn-right:hover {
  background-color: #eaa900 !important;
  color: #ffffff !important;
  transition: 0.5s;
}

.jumbotron {
  width: 100%;
  height: 100px;
  background-color: rgb(233, 233, 233);
}

.form-control {
  width: 631px;
  height: 63px;
  margin-top: -32px;
  border: none;
  box-shadow: 2px 2px 10px #b9b9b9;
  border-radius: 40px;
  font-family: "poppins";
  font-size: 14px;
  font-weight: 500;
  color: #cfe2e6;
}

.header h3 {
  margin-top: 20px;
  font-family: "poppins";
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

/* Content */

.filter {
  margin-top: -15px;
  margin-bottom: 42px;
}

.btn-card {
  background-color: #f5f9fa !important;
  color: #899b9e !important;
  border: none !important;
  border-radius: 20px !important;
  padding-right: 33px !important;
  padding-left: 33px !important;
  font-family: "poppins";
  font-size: 14px;
  font-weight: 400;
  margin-right: 2px;
}

.filter .btn-card:hover {
  background-color: #5d6c6f !important;
  color: white !important;
  transition: 0.8s;
}

.card-content {
  margin-top: 42px;
}

/* home */
.ilustration img {
  margin-left: 380px;
  height: 268px;
  width: 320px;
  margin-top: 66px;
}

.ilustration h5 {
  font-family: "poppins";
  text-align: center;
}

.ilustration .btn {
  background-color: #eaa900;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  position: fixed;
  right: 50px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  outline: none;
}

.ilustration .btn:hover {
  background-color: #ffb700;
}

/* Modul Box */

/* The Modal (background) */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #fdf1e3; /* Fallback color */
  background-color: rgba(54, 54, 54, 0.6); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fdf1e3;
  margin: auto;
  padding: 0;
  border: none;
  width: 511px;
  height: 365px;
  box-shadow: 4px -4px 30px 0 rgba(68, 68, 68, 0.2);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  border-radius: 20px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  margin-left: 450px;
  color: #ecc89f;
  float: right;
  font-size: 24px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  /* color: #000; */
  text-decoration: none;
  cursor: pointer;
}

/* textbox home */
input {
  width: 100%;
  padding: 5px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

::placeholder {
  color: rgb(26, 138, 182);
}

.modal-header {
  padding: 2px 16px;
  background-color: #fdf1e3;
  border: none;
  color: white;
}

.modal-body {
  margin: 20px 54px 0px 54px;
}

.modal-body span {
  float: right;
  margin-top: -20px;
}

.modal-body h1 {
  font-family: "Oswald";
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.btn-modal {
  color: rgb(255, 255, 255) !important;
  border: none !important;
  border-radius: 40px !important;
  padding-right: 20px !important;
  padding-left: 20px !important;
  height: 35px;
  width: 105px;
  font-family: "poppins";
  font-weight: 500;
  font-size: 14px;
  margin-top: 5px;
}

.btn-modal:hover {
  background-color: #3700fe !important;
  color: white !important;
  transition: 0.5s;
}

.modal-footer {
  padding: 2px 16px;
  border: none;
  background-color: #fdf1e3;
  color: white;
}
